@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.header-nav{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
    top: 0;
}

    .logo {
        font-family: emoji;
        font-size: 1.6rem;
        font-weight: 700;
       
        padding: 10px 27px;
    }  
    .nav-list li{
        font-weight: 500;
    }
      
    .nav-link-cart{
         padding: 10px 32px;
    }
    .hamburger{
        display: none;
        padding: 10px;
    }
    
    /* Media query for mobile view */
@media screen and (max-width: 767px) {
  .cart-icon-desktop {
      display: none;
  }
}

/* Media query for desktop view */
@media screen and (min-width: 768px) {
  .hamburger {
      display: none;
  }
}





   @media only screen and (max-width: 767px){
    .hamburger{
        display: block;
    }
   }
   

@media only screen and (max-width: 767px) {
    .nav-list {
        background: #cfd4da;
       display: block;
        height: 100%;
        position: fixed;
        right: -200px;
        text-align: center;
        top: 52px;
        transition: right 0.3s ease-in-out; /* Slide transition */
        width: 200px;
    }
    .nav-list.active {
        right: 0;
        display: block;
        
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .custom-caption {
    position: absolute;
    left: 20px !important;
    bottom: 38%;
    color: white;
    text-align: left;
}
}


  

.custom-caption {
    position: absolute;
    left: 128px;
    bottom: 38%;
    color: white;
    text-align: left;
}
  
  .custom-caption h3 {
    font-size: 48px;
    color: black;
    font-weight: 500;
  }
  
  .custom-caption p {
    font-size: 31px;
    color: black;
    margin-bottom: 12px;
  }
  
  .shop-now-btn {
    padding: 10px 20px;
    background-color: #2206fb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-now-btn:hover {
    background-color: #272726;
  }
  .carousel-wrapper .carousel-item img {
    height: auto;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .carousel-wrapper{
    margin-top: 57px;
  }

  @media only screen and (max-width: 767px) {
    .custom-caption {
        position: absolute;
        left: 16px;
        bottom: 15%;
        color: white;
        text-align: left;
    }
    .custom-caption h3 {
        font-size: 17px;
        color: black;
        font-weight: 500;
    }
    .custom-caption h3 {
        font-size: 17px;
        color: black;
        font-weight: 500;
    }
    .shop-now-btn {
        padding: 7px 14px;
        background-color: #2206fb;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

  }